{% extends 'base.html' %}
{% block style %}
img{
  display: block;
  margin:auto;
  border: 0px solid;
  box-shadow:1px 2px 3px grey;
}
.base{
  padding-top:50px;
  padding-bottom:80px;
}
.item{
  font-family:'Lato';
  font-size:18px;
  color:gray;
}
.rating > span:hover:before{
  content:"\2605";
  position:absolute;
}
{% endblock %}
{% block content %}
<div class="base container">
  <div class="sub-heading">Different Courses, their rating and links</div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    <a href={{category.url}}>  <img src={{category.image.url}} height="280px" width="270px"></a>
    <div class="desc" style="padding-top:20px; width:270px;"><p>{{category.description}}</p></div>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
    {% if user.is_authenticated %}
    <div style="text-align:right;">
      <a href="{% url 'rating_courses' category.category_name %}">Rate Courses here</a></div>
    {% endif %}
    {% if pages %}
    <ul class="list-group" style="list-style-type:none;">
    {% for page in pages %}
    <li class="list-group-item item"><div class="row"><div class="pull-left">
      <a href="{{page.url}}" target="_blank">{{page.name}}</a></div>
      <div class="pull-right">
        {% with ''|center:page.rating as range %}
         {% for _ in range %}
        <span>&#9733</span>

        {% endfor %}
      {% endwith %}
    </div>
  </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
   <div class="sub-heading">No pages</div>
   {% endif %}
  </div>
</div>
{% endblock %}
