{% extends 'base.html' %}
{% block style %}
.contact{
   margin-bottom:100px;
   margin-top:80px;
 }
 i{
   color:purple;
   filter:grayscale(40%);
 }
{% endblock %}
{% block content %}
<div class="center-horizontal contact">
<a href="#" target="_blank" class="col-lg-2 col-md-2 col-sm-10"> <i class="fa fa-twitter fa-5x"></i></a>
 <a href="#" target="_blank" class="col-lg-2 col-md-2 col-sm-10"><i class="fa fa-facebook fa-5x"></i></a>
 <a href="#" target="_blank" class="col-lg-2 col-md-2 col-sm-10"> <i class="fa fa-instagram fa-5x"></i></a>
 </div>
 {% endblock %}
