{% extends 'base.html' %}
{% block style %}
.body{
  box-sizing:border-box;
}
.profile_picture{
  padding-left:0px;
  padding-right:0px;
}
.user_info{
  height:300px;
}
.box{
  padding-top:70px;
  padding-bottom:70px;
  padding-left:80px;
  padding-right:80px;
}
img{
  display: block;
  margin:auto;
  border: 0px solid;
  box-shadow:1px 2px 3px grey;
}
{% endblock %}
{% block content %}
<div class="container box">
  <div class="sub-heading">Welcome {{request.user.username}}</div>

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 profile_picture">
   <img src={{userprofile.image.url}} height="290px" width="262.5px" >
</div>
<div class="user_info col-lg-6 col-md-6 col-sm-10 col-xs-10">
  <div style="font-family:'Lato';color:grey;font-size:18px;">
  User : {{user}}<br>
  Email : {{user.email}}<br>
  Contact : {{userprofile.phone}}<br>
  Designation : {{userprofile.designation}}
</div>
</div>
</div>
</div>
{% endblock %}
