{% extends 'base.html' %}
{% load ratings %}
{% block style %}
.body{
  box-sizing:border-box;
}
.profile_picture{
  padding-left:0px;
  padding-right:0px;
}
.user-info{
  height:300px;

}
.box{
  padding-top:70px;
  padding-bottom:70px;
  padding-left:80px;
  padding-right:80px;
  font-family:'Lato';
  color:grey;
  font-size:18px;
}
img{
  display: block;
  margin:auto;
  border: 0px solid;
  box-shadow:1px 2px 3px grey;
}
{% endblock %}
{% block content %}
<div class="container box">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 profile_picture">
   <img src={{userprofile.image.url}} height="290px" width="262.5px" >
</div>
<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">

  <div class="user_info ">
    <div class="sub-heading">Welcome {{request.user.username}}</div>

  User : {{user}}<br>
  Email : {{user.email}}<br>
  Contact : {{userprofile.phone}}<br>
  Designation : {{userprofile.designation}}

</div>
{% if courses %}
<div class="sub-heading">Enrolled Courses</div>
<ul class="list-group">
  {% for user_course in courses %}
  <li class="list-group-item row" data-course="{{user_course.course}}">
    <div class="pull-left">{{user_course.course}}</div>
    <div class="pull-right">
      <input type="submit" method="post" value="Remove" id="remove" data-name="{{user_course.course}}" data-id="{{user_course.id}}">
      {{user_course.date }}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}


 {% if rated_courses %}
  <div class="sub-heading">Your Ratings </div>
  <ul class="list-group">
    {% for course in rated_courses %}
    <li class="list-group-item row">
      <div class="pull-left">{{course.rating}}</div>
      <div class="pull-right">

         {% with ''|center:course.score as range %}
         {% for _ in range %}
        <span>&#9733</span>

        {% endfor %}
      {% endwith %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</div>
</div>
</div>
{% endblock %}
{% block script %}
const list=document.querySelector('ul');
const items=document.querySelectorAll(`li`);
function remove(e){

  if(e.target.matches(`input`))
  {
    e.preventDefault();

    id=$(e.target).attr('data-id');
    name=$(e.target).attr('data-name');
    console.log(id);
    $.post('/remove/',
     {
       name:name,
       csrfmiddlewaretoken: '{{ csrf_token }}'
     }
    ,function(data){
      <!-- console.log(data); -->
      instance=document.querySelector(`li[data-course='${name}']`);
      instance.parentNode.removeChild(instance);
    });
  }
  else{
    return;
  }

  }

items.forEach(item=>{addEventListener('click',remove);});
{% endblock %}
