
{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block style %}
.box{
  padding-bottom:150px;
  padding-top:100px;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}
img{
  width:40%;
  display:block;
  margin:0px auto;
}
.card-block{
  padding-top:20px;
}
li{
  display:flex;
  justify-content:space-around;
  padding-bottom:10px;
}

{% endblock %}
{% block content %}
<div class="container box">
 {% if pages %}
   {% for category in categories %}
         <div class="card">
            <img src="{{category.image.url}}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{category.category_name}}</h4>
              <p class="card-text">{% ratings category 15 15 True %}<br>
              <a href='{{category.url}}' target="_blank"> Visit here! </a>
            </div>
            <div class="card-block">
            <ul class="list-group">
             {% for page in category.category.all %}
            <li class="row">
            <div>
              <div class="desc">{{page.name}}</div>
            </div>
              <div>
              <form action='' method="post" id="{{page.id}}">{% csrf_token %}
               <input type="submit" value="add" class="btn btn-default btn-sm"
               data-name="{{page.name}}" data-id="{{page.id}}" data-source="{{page.category}}"/>
              </form>
            </div>

            </li>
                {% endfor %}
            </div>
            </ul>
          </div>

  {% endfor %}
 {% endif %}
</div>
{% endblock %}
{% block script %}
const inputs=document.querySelectorAll(`input`);
const forms=document.querySelectorAll(`form`);
var id='';
var name='';
var category='';
function add(){
  $(this).closest("form").submit();
  id=$(this).attr('data-id');
  name=$(this).attr('data-name');
  cat=$(this).attr('data-source');
}
function send(e){
  e.preventDefault();
  $.post('/add/',
   {
     id:id,
     name:name,
     category:cat,
     csrfmiddlewaretoken: '{{ csrf_token }}'
   }
  ,function(data){
    console.log(data);
  })
}
forms.forEach(form=>{addEventListener('submit',send);});
inputs.forEach(input=>{addEventListener('click',add);});
{% endblock %}
