<head>
<style>
ul{
  list-style-type:none;
}
footer{
  color:white;
  background:black;
  height:250px;
  font-size: 16px;
  color:gray;
  padding-top: 20px;
}
</style>
</head>
<body>
  <footer>
    <div class="col-md-3 col-sm-3 col-lg-2 col-xs-4">
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Pininterest</li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-4 pull-right">
      @copyright tulikavijay 2017
    </div>
  </footer>
</body>
