<head>
<style>
ul{
  list-style-type:none;
}
footer{
  color:white;
  background:black;
  height:250px;
  font-size: 16px;
  color:gray;
  padding-top: 20px;
}
</style>
</head>
<body>
  <footer>
    <div class="col-md-3 col-sm-3 col-lg-2 col-xs-4">
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">PinInterest</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-2 col-xs-4">
      <ul>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'explore' %}">Online Sources</a></li>
        <li><a href="{% url 'challenges' %}">Challenges</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-4 pull-right">
      @copyright tulikavijay 2017
    </div>
  </footer>
</body>
