{% extends "base.html" %}
{% load static %}
{% block style %}
.hero{
  background: url({% static "static_root/6.png" %});
  background-size: cover;
  filter: grayscale(70%);
  height:500px;
  width:auto;
}
.title{
  font-family:'Oxygen';
  height:100%;
  font-size:48px;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.categories{
  padding-bottom:100px;
  padding-top:40px;
}
.category{
  height:300px;
  background:purple;
  filter: grayscale(70%);
}
.signup{
  background:url({% static 'static_root/3.png' %});
  filter: grayscale(70%);
}
img{
  display: block;
  margin:auto;
  border: 0px solid;
  box-shadow:1px 2px 3px grey;
}
.box{
  padding-top:40px;
  padding-bottom:50px;
}
a{
  color:white;
}

{% endblock %}
 <body>

   {% block content %}
   <div class="container-fluid hero">
    <div class="title">
      {% if user.is_authenticated %}
             Explore Different Topics from different sources
             <a href="{% url 'explore' %}" class="btn btn-default btn-lg" >  Explore  </a>
      {% else %}
      {{title}}
      <div class="sub-heading" style="color:white">
        All Online Courses in one place with ratings and reviews. Just click on the register button to open
        a free account.
      </div>
        <a href="{% url 'register' %}" class="btn btn-default btn-lg" >  Register  </a>
      {% endif %}
      </div>

   </div>
   {% endblock %}

   <!--<form method='POST' action=''>{% csrf_token %}
   {{form.as_p}}
   <input type="submit" class="btn submit">
 </form>-->
 {% block section %}


 <div class="categories">
   <div class="heading">Top Online Sources</div>
   <!--<div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6" ></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>-->
   <div class="box container">
   <div class="row">
   {% if categories %}
     {% for category in categories %}
       <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style="padding-top:60px;">
           <a href="{% url 'category' category.category_name %}" target="_blank">
              <img src={{category.image.url}} height='300px' width='300px'></a>
       </div>
       {% endfor %}


   {% else %}
   <div class="sub-heading">There are no categories</div>
   {% endif %}

 </div>
  </div>
 <div class="sub-heading"><p><a href="{% url 'explore' %}">Click here for all Sources</a></p></div>

 </div>

<hr style="width:70%;margin:auto;color:gray;">

 <div class="categories">
   <div class="heading">Challenge Yourself!</div>
   <!--<div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6" ></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>-->
   <div class="box container">
   <div class="row">
   {% if challenges %}
     {% for challenge in challenges %}
       <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style="padding-top:60px;">
           <a href="{{challenge.url}}" target="_blank">
              <img src={{challenge.image.url}} height='200px' width='200px' style="border:0px solid;border-radius:100%;"></a>
       </div>
       {% endfor %}

   {% else %}
   <div class="sub-heading">There are no categories</div>
   {% endif %}

 </div>
  </div>
 <div class="sub-heading"><p><a href="{% url 'challenges' %}">Click here for all Sources</a></p></div>

 </div>

 <div class="center signup">
   <div class="heading" style="color:white;">Sign Up for our Newsletter</div>
   <div class="sub-heading" style="color:white;">Get regular updates on your phone and all devices. Just click on the link below</div>
   <div  class="btn btn-default btn-lg" style="color:white;"> <a href="{% url 'signup' %}">  SignUp  </a>
   </div>
 </div>

 <div class="contact center">
   <div class="heading">Contact Us</div>
   <div class="sub-heading">If you have a question, we have an answer. If you need something, we’ll help you. Contact us anytime.</div>
    <div> <a href="{% url 'contact' %}"  class="btn btn-default btn-lg" style="color:white;background:#85428a">  Contact  </a>
 </div>

   {% endblock %}

</body>
