{% extends "base.html" %}
{% load static %}
{% block style %}
.hero{
  filter: grayscale(70%);
}
.carousel-inner{
  width:100% !important;
  max-height:500px !important;
}

.title{
  font-family:'Lato';
  height:100%;
  font-size:48px;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.categories{
  padding-bottom:50px;
  padding-top:40px;
}
.category{
  height:250px;
  background:purple;
  filter: grayscale(70%);
}
.signup{
  background:url({% static 'static_root/3.png' %});
  filter: grayscale(70%);
}
img{
  display: block;
  margin:auto;
  border: 0px solid;
  box-shadow:1px 2px 3px grey;
}
.box{
  padding-top:40px;
  padding-right:40px;
  padding-left:40px;
  padding-bottom:30px;
}

.top-pages{
font-size:18px;
padding-top:60px;

font-family:'Lato';
}

{% endblock %}
 <body>

   {% block content %}
   <div class="container-fluid hero">
    <!-- <div class="title">
      {% if user.is_authenticated %}
             Explore Different Topics from different sources
             <a href="{% url 'explore' %}" class="btn btn-default btn-lg" >  Explore  </a>
      {% else %}
      {{title}}
      <div class="sub-heading" style="color:white">
        All Online Courses in one place with ratings and reviews. Just click on the register button to open
        a free account.
      </div>
        <a href="{% url 'register' %}" class="btn btn-default btn-lg" >  Register  </a>
      {% endif %}
      </div> -->
      {% include 'carousel.html' %}

   </div>
   {% endblock %}

   <!--<form method='POST' action=''>{% csrf_token %}
   {{form.as_p}}
   <input type="submit" class="btn submit">
 </form>-->
 {% block section %}


 <div class="categories container">
   <div class="heading">Pick Your Next Course</div>
   <!--<div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6" ></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>-->
   <div class="row">
   <div class="box container col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <div class="row">
   {% if categories %}
     {% for category in categories %}
       <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style="padding-top:30px;padding-bottom:30px;">
           <a href="{% url 'category' category.category_name %}" target="_blank">
              <img src={{category.image.url}} height='250px' width='250px'></a>

              <div style="text-align:center;padding-top:10px;">
              {% with ''|center:category.rating as range %}
               {% for _ in range %}
              <span>&#9733</span>

              {% endfor %}
            {% endwith %}
          </div>
                <div class="desc" style="padding-top:10px; width:250px;"><p>{{category.description}}</p></div>
       </div>

       {% endfor %}


   {% else %}
   <div class="sub-heading">There are no categories</div>
   {% endif %}
   <div class="sub-heading"><a href="{% url 'explore' %}">Click here for all Sources</a></div>
 </div>
  </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 top-pages">
      {% if pages %}
         <ul style="list-style-type:none" class="list-group">
          {% for page in pages %}
            <li class="list-group-item" >
                <a href="{{page.url}}" target="_blank">{{page.name}}</a><br>
                <div style="text-align:left;padding-top:10px;">
                {% with ''|center:page.rating as range %}
                 {% for _ in range %}
                <span>&#9733</span>

                {% endfor %}
              {% endwith %}
            </div>
                {{page.category}}
            </li>
          {% endfor %}
      {% endif %}
    </div>
</div>
 </div>


<hr style="width:70%;margin:auto;color:dark-gray;height:1px;">

 <div class="categories">
   <div class="heading">Challenge Yourself!</div>
   <!--<div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>
   <div class="category col-lg-3 col-lg-offset-3 col-md-4 col-sm-4 col-xs-6" ></div>
   <div class="category col-lg-3 col-md-4 col-sm-4 col-xs-6"></div>-->

   <div class="box container">
   <div class="row">
   {% if challenges %}
     {% for challenge in challenges %}
       <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style="padding-top:30px;padding-bottom:30px;">
           <a href="{{challenge.url}}" target="_blank">
              <img src={{challenge.image.url}} height='200px' width='200px' style="border:0px solid;border-radius:100%;"></a>
              <div style="text-align:center;padding-top:10px;">
              {% with ''|center:challenge.rating as range %}
               {% for _ in range %}
              <span>&#9733</span>

              {% endfor %}
            {% endwith %}
          </div>
              <div class="desc" style="padding-top:10px; width:200px; text-align:center;"><p>{{challenge.description}}</p></div>
       </div>
       {% endfor %}

   {% else %}
   <div class="sub-heading">There are no categories</div>
   {% endif %}

 </div>
  </div>
 <div class="sub-heading"><p><a href="{% url 'challenges' %}">Click here for all Sources</a></p></div>

 </div>

 <div class="center signup">
   <div class="heading" style="color:white;">Sign Up for our Newsletter</div>
   <div class="sub-heading" style="color:white;">Get regular updates on your phone and all devices. Just click on the link below</div>
   <div  class="btn btn-default btn-lg" style="color:white;"> <a href="{% url 'signup' %}">  SignUp  </a>
   </div>
 </div>

 <div class="contact center">
   <div class="heading">Contact Us</div>
   <div class="sub-heading">If you have a question, we have an answer. If you need something, we’ll help you. Contact us anytime.</div>
    <div> <a href="{% url 'contact' %}"  class="btn btn-default btn-lg" style="color:white;background:#85428a">  Contact  </a>
 </div>

   {% endblock %}

</body>
