{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block style %}
img{
  display: block;
  margin:auto;
  border: 0px solid;
  box-shadow:1px 2px 3px grey;
}
.base{
  padding-top:50px;
  padding-bottom:80px;
}
.item{
  font-family:'Lato';
  font-size:18px;
  color:gray;
  padding-left:10px;
  padding-right:10px;
}

{% endblock %}
<body>
{% block content %}
<div class="base container">
  <div class="sub-heading">Rate and Review:</div>
  <div class="row">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offse-4 col-sm-12 col-xs-12">
      <a href="{{category.url}}" target="_blank"> <img src={{category.image.url}} height='250px' width='250px'></a>
      <div style="text-align:center;padding-top:10px;">
    {% ratings category 15 15 %}
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
    {% if pages %}
    <ul class="list-group" style="list-style-type:none;margin-top:40px;">
    {% for page in pages %}
    <li class="list-group-item item "><div class="row"><div class="">
      <a href="{{page.url}}" target="_blank">{{page.name}}</a></div>
      <div class="pull-right" style="width:120px;">
        <div class="stars">
              {% ratings page 20 20 %}
          <div class="desc"></div>
        </div>
    </div>
  </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
   <div class="sub-heading">No pages</div>
   {% endif %}
  </div>
</div>
<script src={% static "/js/jquery-3.1.1.js" %}></script>

{% endblock %}

</body>
